@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    background: #060a0f;
    color: #d7dff0;
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showContentButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#showContentButton:hover {
    background-color: #45a049;
}

#contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    gap: 10px;
    padding: 10px;
}

#worldMap, #barChart, #donutChart, #scatterPlot {
    background-color: #33415c;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.chart-title {
    font-size: 16px;
    font-weight: bold;
    fill: #d7dff0;
}

.no-data-text {
    font-size: 10px;
    fill: #999;
}



svg text {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: bold;
    font-family: "Audiowide", cursive;
    fill: currentColor;
}

svg path.country {
    fill: #33415c;
    opacity: 0.4;
    stroke: #060a0f;
    stroke-width: 0.1px;
    transition: all 0.2s ease-out;
}

path.country.stage {
    fill: #6ecdff;
}

path.country#selection {
    opacity: 1;
    fill: #6ecdff;
    stroke: #fff;
    stroke-width: 0.5px;
}

.map-title {
    font-size: 24px;
    font-weight: bold;
}

.country-label {
    font-size: 12px;
    fill: #fff;
    pointer-events: none;
}

.country-label.selected {
    font-weight: bold;
    font-size: 14px;
    fill: #ffff00;
}

.slider-container, .fill-area {
    position: absolute;
    bottom: 20px;
    left: 20%;
    width: 60%;
    text-align: center;
}

.year-slider, #range {
    width: 100%;
    margin: 10px 0;
    background: rgba(88, 36, 36, 0.8);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 3px 3px 5px -1px #000;
    font-family:  "Audiowide", cursive;
}

.year-display, #range-value {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider-container, #range-value {
    font-family: "Audiowide", cursive;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: bold;
    color: #d7dff0;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eee;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #333333;
}

.donut-label {
    font-size: 14px;
    font-weight: bold;
}

.percentage-text {
    font-size: 16px;
    font-weight: bold;
}

.y-axis-label {
    font-size: 12px;
    fill: #d7dff0;
}

.x-axis-title, .y-axis-title {
    font-size: 14px;
    fill: #d7dff0;
}


